# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

.vs/
.ionide/*
/src/**/bin/*
/src/**/obj/*
/src/**/Properties/*
/src/**/.vs/*
/src**/*.fsproj.user
/Scripts/.Defaults.ps1
/cli/.Defaults.ps1
/k8sConfigs/*
*.swp
*~
/src/OrchestratorFunc/OrchestratorFunc/Properties/PublishProfiles/*
appsettings.Development.json
.fake
.ionide
/Scripts/webAppSettings.json
/Scripts/orchestratorSettings.json
/cli/defaults.json
/.vscode/*
/.venv/*

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/cli/.cache/*
/cli/.vscode/*
/cli/.vscode/*
/cli/raft_sdk/.cache/token_cache.bin

/cli/raft-utils/auth/dotnet-core-3.1/*

/cli/defaults-*.json

/cli/raft-utils/auth/dotnet-core/*
